<footer class="footer py-2 mt-auto" style="background-color: #dddddd">
    <div class="container">
        <span style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Simplified Trip Planning</span>
    </div>
</footer>