<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light mb-4">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="/">home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <% if(!currentUser) { %> 
            <li class="nav-item">
              <a class="nav-link active" href="/users/new">register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/users/login">sign in</a>
            </li>
            <% } else { %>  
              
          
            <li class="nav-item">
            <a class="nav-link active" href="/trips/new">plan trip</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" href="/trips">view trips</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/users">all users</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              weather links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="https://www.weather.gov/sew/Mountainforecast" target="_blank">WA Mountain Forecast</a></li>
              <li><a class="dropdown-item" href="https://www.nws.noaa.gov/wtf/MapClick.php?lat=47.59&lon=-120.67&lg=ep" target="_blank">Leavenworth</a></li>
              <li><a class="dropdown-item" href="https://www.weather.gov/sew/Mountainforecast" target="_blank">North Cascades</a></li>
              
            </ul>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link active text-danger" href="/users/logout">log out</a>
          </li>
        <% } %> 
    
        </ul>
      </div>
    </div>
  </nav>

  