<% layout('layouts/boilerplate') %>
    
<div class="display-2"></div>
    <h1 class="display-2 text-center mb-3">Alpago</h1>

    <h1 class="mb-3">
        <a href="/users/new">New User</a>
    </h1>

    <h2>
        <a href="/users/login">Sign In</a>
    </h2>

     